html {
    --system-background: white;
    --icon-font: "Material Symbols Outlined";
}
html.res-nightmode {
    --system-background: #262626;
}
.listing-chooser {
    display: none !important;
}
#sr-header-area {
    display: none;
}
[data-event-action="title"],
[data-event-action="title"]:visited {
    color: var(--md-sys-color-on-surface) !important;
}
.usertext .md {
    background-color: var(--md-sys-color-surface) !important;
}
.md,
.pagename a {
    color: var(--md-sys-color-on-surface) !important;
}
.footer {
    max-width: 90vw;
}
.footer .col:nth-child(3),
.footer .col:nth-child(4) {
    display: none;
}
form.usertext {
    margin: 0 !important;
}
.usertext-edit.md-container {
    max-width: 95%;
}
#header {
    display: none;
}

div.pref-row {
    border-top: 1px dotted gray;
    padding-bottom: 10px;
}
