html {
    --system-background: white;
}
html.res-nightmode {
    --system-background: #262626;
}
.tabmenudd {
    color: orangered;
    background-color: var(--system-background);
    border: 1px solid #5f99cf;
    border-bottom-color: rgb(95, 153, 207);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom: 1px solid var(--system-background);
}
#header-bottom-left-els {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-end;
}
.listing-chooser {
    display: none !important;
}
#sr-header-area {
    display: none;
}
[data-event-action="title"],
[data-event-action="title"]:visited {
    color: var(--md-sys-color-on-surface) !important;
}
.usertext .md {
    background-color: var(--md-sys-color-surface) !important;
}
.md {
    color: var(--md-sys-color-on-surface);
}
.footer {
    max-width: 90vw;
}
.footer .col:nth-child(3),
.footer .col:nth-child(4) {
    display: none;
}
