html {
    --system-background: white;
}
html.res-nightmode {
    --system-background: #262626;
}
.tabmenudd {
    color: orangered;
    background-color: var(--system-background);
    border: 1px solid #5f99cf;
    border-bottom-color: rgb(95, 153, 207);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom: 1px solid var(--system-background);
}
#header-bottom-left-els {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-end;
}
