/* CUSTOMIZING EXISTING STUFF */
#header-img {
    max-width: 32px;
    max-height: 32px;
}
.tabmenu,
.rank {
    display: none !important;
}

.hidesidebar {
    text-orientation: sideways;
}
.subreddit .midcol {
    width: unset !important;
}
.searchpane,
.infobar {
    margin-right: 5px;
}
.md {
    max-width: unset !important;
}
.midcol {
    margin: 0;
}
.sitetable.linklisting > .thing:not(.comment) {
    display: flex;
}
.sitetable.linklisting > .thing .entry {
    flex-grow: 1;
}
.content .link .midcol,
.midcol-spacer {
    min-width: 6.1ex;
}
.thumbnail {
    min-width: 70px;
    order: 999;
}
.thing .flat-list {
    display: flex !important;
    justify-content: space-between;
}
.thing .flat-list > * {
    flex-grow: 1;
}
#header-bottom-left {
    display: flex;
}
#header-img {
    border-radius: 50%;
    margin-top: 3px;
}
#header-img-a,
#header-img {
    max-width: 32px;
    align-self: center;
}
body.with-listing-chooser.listing-chooser-collapsed > .content,
body.with-listing-chooser.listing-chooser-collapsed .footer-parent {
    margin-left: 0px;
}
.listing-chooser {
    z-index: 2 !important;
}
.grippy {
    max-width: 7px;
}
.listing-chooser-collapsed .listing-chooser {
    width: 7px !important;
    padding-right: 0px !important;
}
.tagline {
    font-size: 1em;
}
.tagline .author {
    font-weight: normal;
}
.panestack-title,
.menuarea,
.commentarea,
#noresults {
    margin-right: 10px !important;
}
.usertext-edit textarea,
.markdownEditor-wrapper {
    max-width: 100%;
    white-space: unset;
}
.submit-page form {
    margin-left: 0 !important;
}
.submit-page input,
.submit-page textarea {
    max-width: 100%;
}
.formtabs-content {
    max-width: 100%;
    width: 100%;
}
.roundfield {
    width: calc(100% - 10px - 10px);
}
