:root {
    --icon-size: 2rem;
    --button-color: var(--md-sys-color-on-surface-variant);
    --button-color-active: var(--md-sys-color-primary);
}
[data-type="comment"] {
    --icon-size: 1rem !important;
}
.ol-post-container > .thing:not(.comment) {
    display: flex;
}
.ol-post-container > .thing:not(.comment) > .parent {
    display: none;
}
.flat-list.buttons {
    overflow-y: scroll;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--button-color);
    padding-bottom: 3px;
    order: 1000;
}
.flat-list.buttons a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: var(--icon-size);
    color: var(--button-color);
}
.flat-list.buttons a::before,
.flat-list.buttons .voteButton {
    color: var(--button-color);
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 2px;
    font-size: var(--icon-size) !important;
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}
html:not(.showCommentCountOnButton) .comments {
    font-size: 0;
}
.showCommentCountOnButton .comments {
    font-size: 9pt !important;
    font-weight: bold;
    display: flex !important;
    flex-direction: column;
}
.flat-list.buttons a.comments::before {
    content: "comment";
}
.showCommentCountOnButton .flat-list.buttons a.comments::before {
    font-size: calc(var(--icon-size) - 50%) !important;
}
.riok-share::before {
    content: "share";
}
.viewSource .noCtrlF::before {
    content: "source";
}
.save-button a,
.hide-button a,
.report-button a,
.crosspost-button a,
.bylink:not(.comments),
.embed-comment,
.reply-button a,
.edit-usertext,
.sendreplies-button a.togglebutton,
.del-button a.togglebutton,
.riok-share,
.modal-spawner,
.unmarknsfw-button a:not(.yes, .no),
.marknsfw-button a:not(.yes, .no),
.spoiler-button a:not(.yes, .no),
.unspoiler-button a:not(.yes, .no),
.flairselectbtn,
a[data-event-action="spam"],
a[data-event-action="remove"],
a[data-event-action="approve"],
a[data-event-action="lock"],
a[data-event-action="distinguish"] {
    font-size: 0px !important;
}
.save-button a::before,
.hide-button a::before {
    font-size: larger !important;
}
.save-button a::before {
    content: "save";
}
.save-button a.on::before {
    content: "delete";
}
.hide-button a::before {
    content: "visibility_off";
}
.hide-button a.on::before {
    content: "visibility";
}
.report-button a::before {
    content: "report";
}
.crosspost-button a::before {
    content: "content_copy";
}
a[data-text="[l+c]"]::before {
    content: "tab_duplicate" !important;
}
a[data-text="hide all child comments"]::before,
.toggleChildren[action="hide"]::before {
    content: "remove" !important;
}
a[data-text="show all child comments"]::before,
.toggleChildren[action="show"]::before {
    content: "preview" !important;
}
.bylink[data-event-action="permalink"]::before {
    content: "link";
}
.bylink[data-event-action="context"]::before {
    content: "menu_open";
}
.bylink[data-event-action="full_comments"]::before {
    content: "select_all";
}
.embed-comment::before {
    content: "code";
}
.RES-save::before {
    content: "hard_drive_2" !important;
}
.reply-button {
    order: -1;
}
.reply-button a::before {
    content: "reply";
}
.edit-usertext::before {
    content: "edit";
}
.sendreplies-button .togglebutton::before {
    content: "notifications";
}
.del-button .togglebutton::before {
    content: "delete";
}
.unmarknsfw-button a:not(.yes, .no)::before {
    content: "family_link";
}
.marknsfw-button a:not(.yes, .no)::before {
    content: "18_up_rating";
}
.spoiler-button a:not(.yes, .no)::before {
    content: "blur_on";
}
.spoiler-button a:not(.yes, .no)::before {
    content: "deblur";
}
.flairselectbtn::before {
    content: "label";
}
a[data-event-action="spam"]::before {
    content: "phishing";
}
a[data-event-action="remove"]::before {
    content: "delete_forever";
}
a[data-event-action="approve"]::before {
    content: "task_alt";
}
a[data-event-action="lock"]::before {
    content: "lock";
}
a[data-event-action="distinguish"]::before {
    content: "ink_highlighter";
}

.flairselection a {
    display: inline !important;
    font-size: 1em !important;
}
div.thumbnail {
    margin: 0;
    min-width: 75px;
}

.expando > div {
    /* image preview */
    margin: auto; /* center image in expando */
}
.expando .no-constraints-when-pinned {
    /* video preview container with size constraints */
    max-width: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    min-height: unset !important;
}
.expando .no-constraints-when-pinned .reddit-video-player-root {
    height: 100vh;
}
.expando .usertext-body .md {
    /* text post preview */
    margin: 5px;
    border: 1px solid #369;
    border-radius: 7px;
    padding: 5px 10px;
}
li:has(.bylink[data-event-action="parent"]),
li:has(.embed-comment),
li.viewSource {
    display: none !important;
}
.thing .flat-list {
    align-items: center;
}
.comment a.expand {
    font-weight: bolder;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.1em;
    margin-right: 6px;
}
