:root {
    --md-source: #6750a4;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #21005d;
    --md-ref-palette-primary20: #381e72;
    --md-ref-palette-primary30: #4f378b;
    --md-ref-palette-primary40: #6750a4;
    --md-ref-palette-primary50: #7f67be;
    --md-ref-palette-primary60: #9a82db;
    --md-ref-palette-primary70: #b69df8;
    --md-ref-palette-primary80: #d0bcff;
    --md-ref-palette-primary90: #eaddff;
    --md-ref-palette-primary95: #f6edff;
    --md-ref-palette-primary99: #fffbfe;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #1d192b;
    --md-ref-palette-secondary20: #332d41;
    --md-ref-palette-secondary30: #4a4458;
    --md-ref-palette-secondary40: #625b71;
    --md-ref-palette-secondary50: #7a7289;
    --md-ref-palette-secondary60: #958da5;
    --md-ref-palette-secondary70: #b0a7c0;
    --md-ref-palette-secondary80: #ccc2dc;
    --md-ref-palette-secondary90: #e8def8;
    --md-ref-palette-secondary95: #f6edff;
    --md-ref-palette-secondary99: #fffbfe;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #31111d;
    --md-ref-palette-tertiary20: #492532;
    --md-ref-palette-tertiary30: #633b48;
    --md-ref-palette-tertiary40: #7d5260;
    --md-ref-palette-tertiary50: #986977;
    --md-ref-palette-tertiary60: #b58392;
    --md-ref-palette-tertiary70: #d29dac;
    --md-ref-palette-tertiary80: #efb8c8;
    --md-ref-palette-tertiary90: #ffd8e4;
    --md-ref-palette-tertiary95: #ffecf1;
    --md-ref-palette-tertiary99: #fffbfa;
    --md-ref-palette-tertiary100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410e0b;
    --md-ref-palette-error20: #601410;
    --md-ref-palette-error30: #8c1d18;
    --md-ref-palette-error40: #b3261e;
    --md-ref-palette-error50: #dc362e;
    --md-ref-palette-error60: #e46962;
    --md-ref-palette-error70: #ec928e;
    --md-ref-palette-error80: #f2b8b5;
    --md-ref-palette-error90: #f9dedc;
    --md-ref-palette-error95: #fceeee;
    --md-ref-palette-error99: #fffbf9;
    --md-ref-palette-error100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1c1b1f;
    --md-ref-palette-neutral20: #313033;
    --md-ref-palette-neutral30: #484649;
    --md-ref-palette-neutral40: #605d62;
    --md-ref-palette-neutral50: #787579;
    --md-ref-palette-neutral60: #939094;
    --md-ref-palette-neutral70: #aeaaae;
    --md-ref-palette-neutral80: #c9c5ca;
    --md-ref-palette-neutral90: #e6e1e5;
    --md-ref-palette-neutral95: #f4eff4;
    --md-ref-palette-neutral99: #fffbfe;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #1d1a22;
    --md-ref-palette-neutral-variant20: #322f37;
    --md-ref-palette-neutral-variant30: #49454f;
    --md-ref-palette-neutral-variant40: #605d66;
    --md-ref-palette-neutral-variant50: #79747e;
    --md-ref-palette-neutral-variant60: #938f99;
    --md-ref-palette-neutral-variant70: #aea9b4;
    --md-ref-palette-neutral-variant80: #cac4d0;
    --md-ref-palette-neutral-variant90: #e7e0ec;
    --md-ref-palette-neutral-variant95: #f5eefa;
    --md-ref-palette-neutral-variant99: #fffbfe;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #6750a4;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #eaddff;
    --md-sys-color-on-primary-container-light: #21005d;
    --md-sys-color-secondary-light: #625b71;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #e8def8;
    --md-sys-color-on-secondary-container-light: #1d192b;
    --md-sys-color-tertiary-light: #7d5260;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffd8e4;
    --md-sys-color-on-tertiary-container-light: #31111d;
    --md-sys-color-error-light: #b3261e;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-error-container-light: #f9dedc;
    --md-sys-color-on-error-container-light: #410e0b;
    --md-sys-color-outline-light: #79747e;
    --md-sys-color-background-light: #fffbfe;
    --md-sys-color-on-background-light: #1c1b1f;
    --md-sys-color-surface-light: #fffbfe;
    --md-sys-color-on-surface-light: #1c1b1f;
    --md-sys-color-surface-variant-light: #e7e0ec;
    --md-sys-color-on-surface-variant-light: #49454f;
    --md-sys-color-inverse-surface-light: #313033;
    --md-sys-color-inverse-on-surface-light: #f4eff4;
    --md-sys-color-inverse-primary-light: #d0bcff;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #6750a4;
    --md-sys-color-outline-variant-light: #cac4d0;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #d0bcff;
    --md-sys-color-on-primary-dark: #381e72;
    --md-sys-color-primary-container-dark: #4f378b;
    --md-sys-color-on-primary-container-dark: #eaddff;
    --md-sys-color-secondary-dark: #ccc2dc;
    --md-sys-color-on-secondary-dark: #332d41;
    --md-sys-color-secondary-container-dark: #4a4458;
    --md-sys-color-on-secondary-container-dark: #e8def8;
    --md-sys-color-tertiary-dark: #efb8c8;
    --md-sys-color-on-tertiary-dark: #492532;
    --md-sys-color-tertiary-container-dark: #633b48;
    --md-sys-color-on-tertiary-container-dark: #ffd8e4;
    --md-sys-color-error-dark: #f2b8b5;
    --md-sys-color-on-error-dark: #601410;
    --md-sys-color-error-container-dark: #8c1d18;
    --md-sys-color-on-error-container-dark: #f9dedc;
    --md-sys-color-outline-dark: #938f99;
    --md-sys-color-background-dark: #1c1b1f;
    --md-sys-color-on-background-dark: #e6e1e5;
    --md-sys-color-surface-dark: #1c1b1f;
    --md-sys-color-on-surface-dark: #e6e1e5;
    --md-sys-color-surface-variant-dark: #49454f;
    --md-sys-color-on-surface-variant-dark: #cac4d0;
    --md-sys-color-inverse-surface-dark: #e6e1e5;
    --md-sys-color-inverse-on-surface-dark: #313033;
    --md-sys-color-inverse-primary-dark: #6750a4;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #d0bcff;
    --md-sys-color-outline-variant-dark: #49454f;
    --md-sys-color-scrim-dark: #000000;
    /* display - large */
    --md-sys-typescale-display-large-font-family-name: Roboto;
    --md-sys-typescale-display-large-font-family-style: Regular;
    --md-sys-typescale-display-large-font-weight: 400;
    --md-sys-typescale-display-large-font-size: 57px;
    --md-sys-typescale-display-large-line-height: 64px;
    --md-sys-typescale-display-large-letter-spacing: -0.25px;
    /* display - medium */
    --md-sys-typescale-display-medium-font-family-name: Roboto;
    --md-sys-typescale-display-medium-font-family-style: Regular;
    --md-sys-typescale-display-medium-font-weight: 400;
    --md-sys-typescale-display-medium-font-size: 45px;
    --md-sys-typescale-display-medium-line-height: 52px;
    --md-sys-typescale-display-medium-letter-spacing: 0px;
    /* display - small */
    --md-sys-typescale-display-small-font-family-name: Roboto;
    --md-sys-typescale-display-small-font-family-style: Regular;
    --md-sys-typescale-display-small-font-weight: 400;
    --md-sys-typescale-display-small-font-size: 36px;
    --md-sys-typescale-display-small-line-height: 44px;
    --md-sys-typescale-display-small-letter-spacing: 0px;
    /* headline - large */
    --md-sys-typescale-headline-large-font-family-name: Roboto;
    --md-sys-typescale-headline-large-font-family-style: Regular;
    --md-sys-typescale-headline-large-font-weight: 400;
    --md-sys-typescale-headline-large-font-size: 32px;
    --md-sys-typescale-headline-large-line-height: 40px;
    --md-sys-typescale-headline-large-letter-spacing: 0px;
    /* headline - medium */
    --md-sys-typescale-headline-medium-font-family-name: Roboto;
    --md-sys-typescale-headline-medium-font-family-style: Regular;
    --md-sys-typescale-headline-medium-font-weight: 400;
    --md-sys-typescale-headline-medium-font-size: 28px;
    --md-sys-typescale-headline-medium-line-height: 36px;
    --md-sys-typescale-headline-medium-letter-spacing: 0px;
    /* headline - small */
    --md-sys-typescale-headline-small-font-family-name: Roboto;
    --md-sys-typescale-headline-small-font-family-style: Regular;
    --md-sys-typescale-headline-small-font-weight: 400;
    --md-sys-typescale-headline-small-font-size: 24px;
    --md-sys-typescale-headline-small-line-height: 32px;
    --md-sys-typescale-headline-small-letter-spacing: 0px;
    /* body - large */
    --md-sys-typescale-body-large-font-family-name: Roboto;
    --md-sys-typescale-body-large-font-family-style: Regular;
    --md-sys-typescale-body-large-font-weight: 400;
    --md-sys-typescale-body-large-font-size: 16px;
    --md-sys-typescale-body-large-line-height: 24px;
    --md-sys-typescale-body-large-letter-spacing: 0.5px;
    /* body - medium */
    --md-sys-typescale-body-medium-font-family-name: Roboto;
    --md-sys-typescale-body-medium-font-family-style: Regular;
    --md-sys-typescale-body-medium-font-weight: 400;
    --md-sys-typescale-body-medium-font-size: 14px;
    --md-sys-typescale-body-medium-line-height: 20px;
    --md-sys-typescale-body-medium-letter-spacing: 0.25px;
    /* body - small */
    --md-sys-typescale-body-small-font-family-name: Roboto;
    --md-sys-typescale-body-small-font-family-style: Regular;
    --md-sys-typescale-body-small-font-weight: 400;
    --md-sys-typescale-body-small-font-size: 12px;
    --md-sys-typescale-body-small-line-height: 16px;
    --md-sys-typescale-body-small-letter-spacing: 0.4px;
    /* label - large */
    --md-sys-typescale-label-large-font-family-name: Roboto;
    --md-sys-typescale-label-large-font-family-style: Medium;
    --md-sys-typescale-label-large-font-weight: 500;
    --md-sys-typescale-label-large-font-size: 14px;
    --md-sys-typescale-label-large-line-height: 20px;
    --md-sys-typescale-label-large-letter-spacing: 0.1px;
    /* label - medium */
    --md-sys-typescale-label-medium-font-family-name: Roboto;
    --md-sys-typescale-label-medium-font-family-style: Medium;
    --md-sys-typescale-label-medium-font-weight: 500;
    --md-sys-typescale-label-medium-font-size: 12px;
    --md-sys-typescale-label-medium-line-height: 16px;
    --md-sys-typescale-label-medium-letter-spacing: 0.5px;
    /* label - small */
    --md-sys-typescale-label-small-font-family-name: Roboto;
    --md-sys-typescale-label-small-font-family-style: Medium;
    --md-sys-typescale-label-small-font-weight: 500;
    --md-sys-typescale-label-small-font-size: 11px;
    --md-sys-typescale-label-small-line-height: 16px;
    --md-sys-typescale-label-small-letter-spacing: 0.5px;
    /* title - large */
    --md-sys-typescale-title-large-font-family-name: Roboto;
    --md-sys-typescale-title-large-font-family-style: Regular;
    --md-sys-typescale-title-large-font-weight: 400;
    --md-sys-typescale-title-large-font-size: 22px;
    --md-sys-typescale-title-large-line-height: 28px;
    --md-sys-typescale-title-large-letter-spacing: 0px;
    /* title - medium */
    --md-sys-typescale-title-medium-font-family-name: Roboto;
    --md-sys-typescale-title-medium-font-family-style: Medium;
    --md-sys-typescale-title-medium-font-weight: 500;
    --md-sys-typescale-title-medium-font-size: 16px;
    --md-sys-typescale-title-medium-line-height: 24px;
    --md-sys-typescale-title-medium-letter-spacing: 0.15px;
    /* title - small */
    --md-sys-typescale-title-small-font-family-name: Roboto;
    --md-sys-typescale-title-small-font-family-style: Medium;
    --md-sys-typescale-title-small-font-weight: 500;
    --md-sys-typescale-title-small-font-size: 14px;
    --md-sys-typescale-title-small-line-height: 20px;
    --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
