.galleryLink {
    text-decoration: underline !important;
}

.lg-sub-html a.caption-link {
    color: var(--md-sys-color-primary);
}

.ol-post-container .expando-button {
    display: none;
}
.imagePost .expando-button.expanded:not(.need-to-collapse) {
    display: block;
}
.res-media-zoomable {
    max-width: 100vw;
}