/* CUSTOMIZING EXISTING STUFF */
#header-img {
    max-width: 32px;
    max-height: 32px;
}
.tabmenu,
.rank,
.infobar-toaster-container {
    display: none !important;
}

.hidesidebar {
    text-orientation: sideways;
}
.subreddit .midcol {
    width: unset !important;
}
.searchpane,
.infobar {
    margin-right: 5px;
}
.md {
    max-width: unset !important;
}
.midcol {
    margin: 0 !important;
}
.ol-post-container > .thing:not(.comment) {
    display: flex;
}
.ol-post-container > .thing .entry {
    flex-grow: 1;
}
.content .link .midcol,
.midcol-spacer {
    min-width: 6.1ex;
}
.thumbnail {
    min-width: 70px;
    order: 999;
}
.thing .flat-list {
    display: flex !important;
    justify-content: space-between;
}
.thing .flat-list > * {
    flex-grow: 1;
}
#header-bottom-left {
    display: flex;
}
#header-img {
    display: none !important;
}
.tagline {
    font-size: 1em;
}
.tagline .author {
    font-weight: normal;
}
.panestack-title,
.menuarea,
.commentarea,
#noresults {
    margin-right: 10px !important;
}
.usertext-edit textarea,
.markdownEditor-wrapper {
    max-width: 100%;
    white-space: unset;
}
.submit-page form {
    margin-left: 0 !important;
}
.submit-page input,
.submit-page textarea {
    max-width: 100%;
}
.formtabs-content {
    max-width: 100%;
    width: 100%;
}
.roundfield {
    width: calc(100% - 10px - 10px);
}
.desktop-onboarding__col_sign-up_form {
    width: 100%;
}
.pagename {
    font-variant: normal !important;
}
.score {
    color: var(--md-sys-color-on-surface-variant) !important;
}
.md blockquote {
    color: var(--md-sys-color-on-surface-variant) !important;
}
.desktop-onboarding__col_sign-up_image {
    display: none;
}
html {
    --system-background: white;
    --icon-font: "Material Symbols Outlined";
}
html.res-nightmode {
    --system-background: #262626;
}
.listing-chooser {
    display: none !important;
}
#sr-header-area {
    display: none;
}
[data-event-action="title"],
[data-event-action="title"]:visited {
    color: var(--md-sys-color-on-surface) !important;
}
.usertext .md {
    background-color: var(--md-sys-color-surface) !important;
}
.md,
.pagename a {
    color: var(--md-sys-color-on-surface) !important;
}
.footer {
    max-width: 90vw;
}
.footer .col:nth-child(3),
.footer .col:nth-child(4) {
    display: none;
}
form.usertext {
    margin: 0 !important;
}
.usertext-edit.md-container {
    max-width: 95%;
}
#header {
    display: none;
}

div.pref-row {
    border-top: 1px solid var(--md-sys-color-outline-variant);
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

body.prevent-scroll {
    overflow: hidden;
}