/* CUSTOMIZING EXISTING STUFF */
#header-img {
    max-width: 32px;
    max-height: 32px;
}
.tabmenu,
.rank,
.infobar-toaster-container,
.commentsignupbar {
    display: none !important;
}

.hidesidebar {
    text-orientation: sideways;
}
.subreddit .midcol {
    width: unset !important;
}
.searchpane,
.infobar {
    margin-right: 5px;
}
.md {
    max-width: unset !important;
}
.midcol {
    margin: 0 !important;
}
.ol-post-container[data-type="link"] {
    display: flex;
}
.ol-post-container > .thing .entry {
    flex-grow: 1;
}
.content .link .midcol,
.midcol-spacer {
    min-width: 6.1ex;
}
.thumbnail {
    min-width: 70px;
    order: 999;
}
.thing .flat-list {
    display: flex !important;
    justify-content: space-between;
}
.thing .flat-list > * {
    flex-grow: 1;
}
#header-bottom-left {
    display: flex;
}
#header-img {
    display: none !important;
}
.tagline {
    font-size: 1em;
}
.tagline .author {
    font-weight: bold;
}
.panestack-title,
.menuarea,
.commentarea,
#noresults {
    margin-right: 10px !important;
}
.usertext-edit textarea,
.markdownEditor-wrapper {
    max-width: 100%;
}
.submit-page form {
    margin-left: 0 !important;
}
.submit-page input,
.submit-page textarea {
    max-width: 100%;
}
.formtabs-content {
    max-width: 100%;
    width: 100%;
}
.roundfield {
    width: calc(100% - 10px - 10px);
}
.desktop-onboarding__col_sign-up_form {
    width: 100%;
}
.pagename {
    font-variant: normal !important;
}
.score {
    color: var(--md-sys-color-on-surface-variant) !important;
}
.md blockquote {
    color: var(--md-sys-color-on-surface-variant) !important;
}
.desktop-onboarding__col_sign-up_image {
    display: none;
}
html {
    --system-background: white;
    --icon-font: "Material Symbols Outlined";
}
html.res-nightmode {
    --system-background: #262626;
}
.listing-chooser {
    display: none !important;
}
#sr-header-area {
    display: none;
}
.redditMarqueEnabled #sr-header-area {
    position: fixed !important;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    max-width: 100vw;
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface);
}
.res .redditMarqueEnabled #sr-header-area {
    overflow-x: scroll !important;
    max-width: calc(100vw - 69px);
    width: calc(100vw - 69px);
}
html:not(.res).redditMarqueEnabled #sr-header-area .sr-list {
    overflow-x: scroll !important;
}
.dropdown.srdrop .selected {
    color: var(--md-sys-color-on-surface-variant);
}
.drop-choices {
    background-color: var(--md-sys-color-background) !important;
    color: var(--md-sys-color-on-background) !important;
}
#sr-more-link {
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface);
}
.redditMarqueEnabled .ol-header-padding {
    height: calc(48px + 19px);
}
.sr-bar a {
    color: var(--md-sys-color-on-surface-variant);
}
[data-event-action="title"],
[data-event-action="title"]:visited {
    color: var(--md-sys-color-on-surface) !important;
}
.archived-infobar,
.usertext .md,
.roundfield {
    background-color: var(--md-sys-color-surface) !important;
}
.md,
.pagename a {
    color: var(--md-sys-color-on-surface) !important;
}
.footer {
    max-width: 90vw;
}
.footer .col:nth-child(3),
.footer .col:nth-child(4) {
    display: none;
}
form.usertext {
    margin: 0 !important;
}
.usertext-edit.md-container {
    max-width: 95%;
}
#header {
    display: none;
}

div.pref-row {
    border-top: 1px solid var(--md-sys-color-outline-variant);
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

body.prevent-scroll {
    overflow: hidden !important;
}

/* search */
.search-result-group {
    max-width: 100vw;
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.combined-search-page .searchpane,
.search-result-group,
.combined-search-page #search {
    padding: 0 !important;
}
.combined-search-page #search input[type="text"] {
    max-width: calc(100% - 55px);
    min-width: calc(100% - 55px);
}
.search-submit-button {
    width: 50px;
}

.switch-to-good-reddit {
    display: block;
    position: fixed;
    bottom: env(safe-area-inset-bottom, 0);
    left: 0;
    background-color: #ff4500;
    color: white;
    z-index: 9999999999;
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
    pointer-events: all;
    padding: 3px;
}
.spoiler-stamp {
    color: var(--md-sys-color-tertiary);
}
.wiki-page .wiki-page-content {
    margin-right: 15px;
}
.wiki-page .wiki-page-content .wiki > .toc > ul {
    margin: 0;
    max-width: none;
    float: none;
    position: relative;
}
.content {
    padding-right: 0px !important;
    margin: 0;
}
.comment,
.link {
    background-color: transparent !important;
    border: 0 !important;
}
