@import url(tokens.css);
@import url(colors.css);
@import url(typography.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);
.infobar {
    background-color: var(--md-sys-color-surface-container);
    border-color: var(--md-sys-color-surface-tint);
}
.usertext.border .usertext-body {
    background-color: var(--md-sys-color-surface-tint);
}
a, .tagline a, .search-result-meta a, .md a, #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd  {
    color: var(--md-sys-color-primary);
}